// Based on https://www.w3.org/WAI/ER/WD-AERT/#color-contrast
@function text-color($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color/2) {
    @return #fff;
  } @else {
    @return #000;
  }
}

%item-head {
  @include unstyled-link;
  color: $post-head-color !important;
}