// Colors
// Put a variable here if you've adjusted color. (Direct use allowed)
$base-color: hsl(307, 47%, 27%);

$sidebar-bg-color: tint(adjust_hue($base-color, 30deg), 80%);
$sidebar-text-color: tint($base-color, 30%);

$content-text-color: shade($base-color, 30%);
$content-bg-color: rgba(tint($base-color, 70%), 0.3);
$content-border-color: tint($base-color, 20%);

$def-link-color: lighten($content-text-color, 20%);

$post-head-color: shade($base-color, 60%);

$search-btn-bg-color: tint($base-color, 80%);

// Dimensions

/// Main width
$main-width: 975px;
$sidebar-width: 250px;

$radius: 10px;

$overlap: 1em;

// Content

/// Breakpoints
@include add-breakpoint(small, 600px);
@include add-breakpoint(medium, 801px);
@include add-breakpoint(large, $main-width);

// Fonts

// Simply output our web font.
@font-face{
  font-family: "Museo Sans";
  src: resolve("MuseoSans_500-webfont.eot") format("embedded-opentype"),
       resolve("MuseoSans_500-webfont.woff2") format("woff2"),
       resolve("MuseoSans_500-webfont.woff") format("woff"),
       resolve("MuseoSans_500-webfont.ttf") format("truetype"),
       resolve("MuseoSans_500-webfont.svg") format("svg");
}

// Android default -> English -> Japanese -> Fallback
$font-stack: "Noto Sans CJK {JP, KR, SC, TC}", Helvetica, "MS PGothic", Osaka, sans-serif;
$font-stack-alt: "Museo Sans", sans-serif;
$font-stack-cn: "Microsoft YaHei", "MS PGothic", sans-serif;
$font-stack-marquee: "黑体", "MS PGothic", sans-serif;

// Header & Background

// Offset of main content will be automatically calculated.
$header-img: 'header_fad.jpg';
// Will be used as the height of <header> in medium+ screen, change the pixels if needed.
$content-offset: calc(height(#{$header-img}) - 100px);