* {
  box-sizing: border-box;
}

html {
  @include respond-to(large) {
    background-image: resolve('bg.png');
  }

  word-wrap: break-word;
}

body {
  font-family: $font-stack;

  &.page-template-page-templatesevents-php {
    table {
      font-family: $font-stack-cn;
    }
  }
}

main {
  max-width: $main-width;
  margin: 0 auto;
  background-color: white;

  @include respond-to(large) {
    $border: 2px solid $base-color;
    border: {
      left: $border;
      right: $border;
    }
  }
}

.main-container {
  @include respond-to(medium) {
    padding: 0 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  @include link-colors($def-link-color);
}