$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Ugly Fix.
@mixin adjust-font-size-to-px($size){
  @if unit($size) == 'em' {
    @include adjust-font-size-to($base-font-size * strip-unit($size));
  } @else {
    @include adjust-font-size-to($size);
  }
}

p {
  @include adjust-font-size-to-px(0.8em);
  margin: rhythm(0.5) 0;
}

$headings: (
        h1: 48px,
        h2: 36px,
        h3: 24px,
        h4: 20px,
        h5: 18px,
        h6: 16px
);

%no-margin {
  margin: 0;
}

@each $type, $size in $headings {
  #{$type} {
    @include adjust-font-size-to-px($size);
    @extend %no-margin;
  }
}

