.widget-title {
  @include adjust-font-size-to-px(1.4em);
  font-family: $font-stack-alt;

  margin: rhythm(0.1) 0;

  svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;

    margin-right: 0.1em;

    fill: $sidebar-text-color;
  }
}

.widget {
  clear: both;
}

%reset-ul {
  @include no-bullets;
  margin: 0;
  padding: 0;
}