#searchform {
  margin: 0.5em 0;

  input {
    display: inline;
    border: 1px solid $base-color;
  }

  [type="text"] {
    width: 69%;
    margin-right: 1%;
    float: left;
  }

  [type="submit"] {
    width: 30%;
    font-size:0.8em;

    background: $search-btn-bg-color;
    color: text-color($search-btn-bg-color);
  }
}