.widget_yv_social {
  ul {
    @include no-bullets;
    @include horizontal-list;
  }

  li:not(:last-child) {
    margin-right: 0.1em;

  }
}

.site-icon {
  height: 2em;
  width: 2em;

  fill: shade($sidebar-text-color, 40%);
}