#content {
  @include clearfix;
  padding: 1em;

  @include respond-to(medium) {
    padding: 2em;
    background: $content-bg-color;

    border-radius: $radius;
    border: 1px solid $content-border-color;
  }

  color: $content-text-color;
}