@include respond-to(medium) {
  main {
    @include clearfix;
  }

  #content {
    float: right;
    width: calc(100% - #{$sidebar-width} + #{$overlap});
  }

  .sidebar {
    float: left;
    width: $sidebar-width;

    margin-top: 2em;
    margin-right: -$overlap; // Allow overlap
  }
}