header {
  //@include clearfix;

  @include respond-to(medium) {
    height: $content-offset;
    background: transparent;
  }

  background: $base-color;
  color: text-color($base-color);
  font-family: $font-stack-alt;
}

.logo {
  @include unstyled-link;
  display: inline-block;
  margin: 1em;

  @include respond-to(medium) {
    span {
      display: none; // Hide text
    }

    background: resolve('logo.w.png') no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 200px;
  }

}

// Hamburger icon
#menu-toggle {
  display: inline-block;
  float: right;

  padding: 0.5em;

  @include respond-to(medium) {
    display: none;
  }

  svg {
    height: 32px;
    width: 32px;
    fill: text-color($base-color);
  }
}

// For background
main {
  @include respond-to(medium) {
    background: resolve($header-img), #fff;
    background-repeat: no-repeat, repeat;
    background-position: top right, top left;
  }
}