.sidebar {
  padding: 1em;
  @include respond-to(medium) {
    padding: 1em calc(1em + #{$overlap}) 1em 1em;
  }
  border-radius: $radius;


  background: rgba($sidebar-bg-color, 0.3);
  color: $sidebar-text-color;
}