@include respond-to(medium) {
  $info-ratio: 61.8%;
  .album-cover {
    float: left;
    display: block;
    width: (100% - $info-ratio);
  }

  .album-info {
    float: right;
    width: $info-ratio;

    padding: 0 1em;
  }

  .album-title {
    margin-top: 0;
  }
}

.album-title > a {
  @extend %item-head;
}

