@keyframes marquee {
  0%   { text-indent: 100% }
  100% { text-indent: -100% }
}

.marquee {
  @include adjust-font-size-to-px(1.1em);
  font-family: $font-stack-marquee;
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0,0,0,0.2);
  color: #fff;

  animation: marquee 20s linear infinite;

  // Disable for mobile
  display: none;
  @include respond-to(medium) {
    display: block;
  }

  a {
    @include unstyled-link;
  }

  span {
    text-shadow: 0 0 0.1em #f87fff, -0 -0 0.1em #f87fff;
    margin-right: 4em;
  }

  &:hover {
    animation-play-state: paused;
  }
}
