header nav {
  display: none;
  width: 100%;
  clear: both;

  @include respond-to(medium) {
    display: block;
    float: right;
    width: auto;
    padding-top: 1em;
  }

  ul {
    padding: 0;
    margin: 0;
    @include no-bullets;
    @include respond-to(medium) {
      @include horizontal-list;
      padding-right: 1em;
    }
  }

  .menu-item {
    $border: 1px solid #fff;
    border-bottom: $border;

    &:first-child {
      border-top: $border;
    }

    @include respond-to(medium) {
      border: none !important; // Force remove border
    }
  }


  // Link Items
  a {
    display: block;

    text-align: center;
    vertical-align: middle;

    padding: 1em 0;
    @include unstyled-link;

    @include respond-to(medium) {
      padding: 1em;
      text-shadow: 0 0 7px text-color($base-color);
    }
  }
}