.post {
  @include clearfix;
  margin-bottom: rhythm(1.5);
}

.page-template-page-templatesevents-php .post {
  overflow-x: auto;
}

.item-head > a {
  @extend %item-head;
}

.item-head {
  background: resolve('daffodil_24.png') no-repeat left;
  padding-left: 30px;
}

.metadata {
  @include adjust-font-size-to-px(0.7em);
  font-style: italic;

  clear: both;
}
